	{% extends 'base.html' %}
	{% load static %}

	{% block content %}
    <div class="hero-wrap hero-bread" style="background-image: url({% static 'images/bg_1.jpg' %});">
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
          	<p class="breadcrumbs"><span class="mr-2"><a href="{% url 'index' %}">Home</a></span> <span>Cart</span></p>
            <h1 class="mb-0 bread">My Cart</h1>
          </div>
        </div>
      </div>
    </div>

	<!--Alert-->
	{% include 'partials/_alert.html' %})


    <section class="ftco-section ftco-cart">
			<div class="container">
				<div class="row">
    			<div class="col-md-12 ftco-animate">
    				<div class="cart-list">
	    				<table class="table">
						    <thead class="thead-primary">
						      <tr class="text-center">
						        <th>&nbsp;</th>
						        <th>&nbsp;</th>
						        <th>Product name</th>
						        <th>Price</th>
						        <th>Quantity</th>
						        <th>Discount</th>
								  <th>Total</th>
						      </tr>
						    </thead>
						    <tbody>
							{%  for order_item in object.products.all %}
						      <tr class="text-center">
						        <td class="product-remove"><a href="{{ order_item.item.get_remove_from_cart_url }}"><span class="fas fa-trash"></span></a></td>
						        
						        <td class="image-prod"><div class="img" style="background-image:url({{  order_item.item.photo.url }});"></div></td>
						        
						        <td class="product-name">
						        	<h3>{{ order_item.item.product_name}}</h3>
						        	<p>Far far away, behind the word mountains, far from the countries</p>
						        </td>
						        
						        <td class="price">{{ order_item.item.price }} </td>
						        <td class="quantity">
									{% if order_item.quantity >= 1 %}
										<a href="{{ order_item.item.get_remove_item_quantity_url }}"><i class="fas fa-minus-square mr-2 " ></i></a>
									{% endif %}
									{{ order_item.quantity}} {{ order_item.item.measure }}
									<a href="{{ order_item.item.get_add_item_quantity_url }}"><i class="fas fa-plus-square ml-2 "></i></a>
								</td>
								   <td class="discount_price">
									   {{ order_item.item.discount_price}}
								   </td>

						        <td class="total">
									{{ order_item.get_total_price}}</td>
						      </tr><!-- END TR-->
							{% endfor %}

						    </tbody>
						  </table>
					  </div>
    			</div>
    		</div>
    		<div class="row justify-content-end">

    			<div class="col-lg-4 mt-5 cart-wrap ftco-animate">
    				<div class="cart-total mb-3">
    					<h3>Cart Totals</h3>
						<p class="d-flex">
    						<span>Sub Total</span>
    						<span>{{ object.get_subtotal_price}}</span>
    					</p>
						{% if object.get_subtotal_price >= 1 %}
							<p class="d-flex">
								<span>Delivery</span>
								<span>{{ object.delivery_price}}</span>
							</p>
						{% endif %}
    					<hr>
    					<p class="d-flex total-price">
    						<span>Total</span>
							{% if object.get_subtotal_price >= 1 %}
    							<span>{{ object.get_final_total_price}}</span>
							{% endif %}
    					</p>
    				</div>
    				<p><a href="{% url 'checkout' %}" class="btn btn-primary btn-lg">Proceed to Checkout</a></p>
    			</div>
    		</div>
			</div>
		</section>

		<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
      <div class="container py-4">
        <div class="row d-flex justify-content-center py-5">
          <div class="col-md-6">
          	<h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
          	<span>Get e-mail updates about our latest shops and special offers</span>
          </div>
          <div class="col-md-6 d-flex align-items-center">
            <form action="#" class="subscribe-form">
              <div class="form-group d-flex">
                <input type="text" class="form-control" placeholder="Enter email address">
                <input type="submit" value="Subscribe" class="submit px-3">
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>


  <script>
		$(document).ready(function(){

		var quantitiy=0;
		   $('.quantity-right-plus').click(function(e){
		        
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		            
		            $('#quantity').val(quantity + 1);

		          
		            // Increment
		        
		    });

		     $('.quantity-left-minus').click(function(e){
		        // Stop acting like a button
		        e.preventDefault();
		        // Get the field name
		        var quantity = parseInt($('#quantity').val());
		        
		        // If is not undefined
		      
		            // Increment
		            if(quantity>0){
		            $('#quantity').val(quantity - 1);
		            }
		    });
		    
		});
	</script>

	{% endblock %}
    
